body{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button {
    padding: 10px 30px;
    background-color: azure;
    border: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.button span {
    position: relative;
    z-index: 1;
}
.button:before{
    content: '';
    position: absolute;
    top: var(--yPos);
    left: var(--xPos);
    width: 0;
    height: 0;
    transform: translate(-50%,-50%);
    background-color: orange;
    transition: all ease .5s;
    border-radius: 50%;
    pointer-events: none;
}

.button:hover:before{
    width: 300px;
    height: 300px;
    
}
